@use '/src/styles/base/proportions.scss';
@use '/src/styles/base/fonts.scss';

body {
    background-color: var(--color-page);
    font-size: proportions.$font-size-content;
    font-weight: 600;
    font-family: fonts.$content;
}