---
import type { WebsiteColor } from '../../scripts';


interface Props {
    text: String,
    path: URL,
    color?: WebsiteColor|String
}

let {text, path, color} = Astro.props;

if(color !== undefined) {
    color = `var(${color})`;
}
---
<a href={path} style={{color: color}}>
    {text}
</a>

<style lang="scss">
    @use '/src/styles/main.scss';

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>