---
import type { WebsiteColor } from '../../scripts';

interface Props {
    text: String,
    color?: WebsiteColor|String
}

let {text, color} = Astro.props;
if(color !== undefined) {
    color = `var(${color})`;
}
---
<p style={{color: color, maxWidth: '100ch'}}>
    {text}
</p>