---
import { WebsiteColor } from "../../scripts";
import Section from "../Section.astro";
import Heading from "../texts/Heading.astro";
---

<Section backgroundColor={WebsiteColor.PAGE} id="projects">
	<Heading size="1">Projets</Heading>
</Section>