---
import Section from "../components/Section.astro"
import Heading from "../components/texts/Heading.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="Contact" description="Me contacter (TODO)">
    <Section>
        <Heading size="1">
            Contact
        </Heading>
    </Section>
</Layout>