---
import { TypographyH1 } from "@/components/ui/Typography";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/section"

---

<Layout title="Contact">
    <Section>
        <TypographyH1>
            TODO
        </TypographyH1>
    </Section>
</Layout>