---
import Projects from "@/components/Projects.astro"
import { TypographyH1 } from "../components/ui/Typography"
import Layout from "../layouts/Layout.astro"
import Section from "@/components/section"
---

<Layout title="Projets">
    <Section>
        <Projects isCarousel={false}/>
    </Section>
</Layout>