---
import { WebsiteColor } from '../scripts';


interface Props {
    text: String,
    path: URL,
    buttonColor?: WebsiteColor
}

const info = Astro.props;
let buttonColor: WebsiteColor = WebsiteColor.PRIMARY;
let linkColor: String = "--color-contrast";

const { text, path } = Astro.props;
const types: Array<String> = ["secondary", "accent"];
if("buttonColor" in Astro.props && Astro.props.buttonColor !== undefined) buttonColor = Astro.props.buttonColor;
---

<a href={path}>
    {text}
</a>

<style lang="scss" define:vars={{buttonBackground: `var(${buttonColor})`, textColor: `var(${linkColor})`}}>
    @use '../styles/main.scss';
    @use '/src/styles/base/proportions.scss';

    a {
        padding: proportions.$gap-md proportions.$gap-lg;
        text-decoration: none;
        background-color: var(--buttonBackground);
        transition: .2s ease-in-out;
        color: var(--textColor);

        &:hover {
            outline: proportions.$gap-xs var(--buttonBackground) solid;
            background-color: transparent;
            color: var(--buttonBackground);
        }
    }
</style>
