---
import PageWrapper from "../layouts/PageWrapper.astro"
import Button from "./Button.astro"
import Link from "./texts/Link.astro"
import {WebsiteColor} from "../scripts/index";
---

<header>
    <PageWrapper>
        <nav>
            <menu>
                <li>
                    <Link path="/" text="accueil" color={WebsiteColor.PAGE}/>
                </li>
                <li>
                    <Link path="#projects" text="mes projets" color={WebsiteColor.PAGE}/>
                </li>
            </menu>
            <Button text="contact" path="/contact"/>
        </nav>
    </PageWrapper>
</header>

<style lang="scss">
    @use '/src/styles/base/proportions.scss';

    header {
        background-color: rgba(0, 0, 0, .2);
        padding: 3px 0;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        menu {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 32px;
        }
    }

    header :global(a) {
        font-size: proportions.$font-size-content;
    }
</style>