---
import { Image } from 'astro:assets';
import PageWrapper from "../layouts/PageWrapper.astro";

const {name, title, image} = Astro.props;
---

<section class="hero">
	<PageWrapper>
		<article>
			<div class="hero_showcase">
				<h1>{name}</h1>
				<h2>{title}</h2>
			</div>
			<div class="hero_image">
				<Image src={image} alt="Image - Cercles" />
			</div>
		</article>
	</PageWrapper>
</section>

<style lang="scss">
	@use '/src/styles/base/proportions.scss';

	.hero article {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 100px 0;
	}

    .hero_image img {
        width: 100%;
    }

	.hero_showcase {
		h1, h2 {
			margin-bottom: 0;
		}
		h1 {
			color: var(--color-page);
			font-size: calc(proportions.$font-size-h1 * (proportions.$font-scale));
		}
		h2 {
			color: var(--color-primary);
			font-size: calc(proportions.$font-size-h1);
		}
	}
</style>