---
import Section from "./section";
import Project from "./project/Project";
import ProjectDescription from "./project/ProjectDescription";
---

<Section>
    <Project technologies={[
        "Symfony", "MySQL", "Tailwind / Sass"
    ]}
    title="Herobrine.fr - Site"
    >
        <ProjectDescription>
            Test
        </ProjectDescription>
    </Project>
</Section>