---
interface Props {
    isCarousel: boolean
}


import herobrinefrImage from "../assets/projects/herobrinefr.png"
import portfolioImage from "../assets/projects/portfolio.png"
import ProjectList from "./ProjectList";

const {isCarousel = false} = Astro.props

---

<div>
    <ProjectList client:load projects={[
        {
            title: "Herobrine.fr - Site",
            image: herobrinefrImage,
            technologies: [
                "Symfony", "MySQL", "Tailwind / Sass"
            ],
            description: [
                "Refonte d'une application web sortie en 2012 et accueillant plus de 24 000 inscrits.",
            ]
        },
        {
            title: "Portfolio",
            technologies: [
                "Astro", "Typescript", "React"
            ],
            description: [
                "Création d'un portfolio répertoriant certains de mes projets."
            ],
            image: portfolioImage
        }
    ]} isCarousel={isCarousel}/>
</div>