---
import PageWrapper from "../layouts/PageWrapper.astro";
const {backgroundColor, id} = Astro.props;
---

<section style={{backgroundColor: `var(${backgroundColor})`}} id={id}>
    <PageWrapper>
        <slot/>
    </PageWrapper>
</section>
