---
import PageWrapper from "../layouts/PageWrapper.astro";
---

<section class="hero">
	<PageWrapper>
		<div class="hero_showcase">
			<h1>Bruno Plante-Godin</h1>
			<h2>Développeur Web</h2>
		</div>
	</PageWrapper>
</section>

<style lang="scss">
	.hero_showcase {
		h1 {
			color: var(--color-page);
			font-size: 96px;
		}
		h2 {
			color: var(--color-primary);
			font-size: 64px
		}
	}
</style>