---
import Section from "../../components/Section.astro";
import Heading from "../../components/texts/Heading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projets - Herobrine.fr">
    <Section>
        <Heading size="1">
            Herobrine.fr
        </Heading>
    </Section>
</Layout>