---
import Header from "../components/Header.astro"
const {title, description} = Astro.props;
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>

		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header />
		<section class="bg-cyan-200">
			<slot />
		</section>
		<footer></footer>
	</body>
</html>